.motionDiv {
  width: 75vw;
  height: 45vh;
  min-height: 350px;
  margin: 0 auto;
  margin-top: 3vh;
  border-radius: 20px 20px 0 0;
  background-color: #f5c842;
  padding: 2vw;
  text-align: center;
}

.motionDiv p {
  font-size: 17px;
}

.motionDiv h1 {
  font-size: 22px;
}

.start {
  color: black;
  font-size: 17px;
  width: 30vw;
  height: 5vh;
  margin-top: 1vh;
  border-radius: 10px;
  background-color: white;
  border: 0px;
}

.press {
  color: black;
  font-size: 13px;
  width: 60vw;
  height: 5vh;
  margin: 1.5vw;
  border-radius: 10px; 
  background-color: white;
  border: 0;
}

.start:hover, .start:active, .press:hover, .press:active {
  background-color: black;
  color: white;
}